<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftGL-Demo-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftGL-Demo-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwiftGL-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftGL-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2A18FDE1997F8E000830CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AB3AB41944F05700655A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AB3ABF1944F05700655A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EE432E1953BE91007CC56F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F663131ADD7417003C1925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F6632B1ADD7417003C1925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F6633A1ADD7524003C1925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
